body{
  background-color:rgb(246, 228, 206);
}

.emoji{
  margin-left: 20%;
  padding: 2%;
}
.fa-hand-paper, .fa-hand-scissors, .fa-hand-rock{
color: rgb(241, 241, 32);
font-size: 150px;
margin-left: 100px;
cursor: pointer;
}

.fa-hand-paper:hover, .fa-hand-rock:hover, .fa-hand-scissors:hover{
  border: 5px dotted black;
}
.game-section{
  margin-top: 2%;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
}

.oneList, .twoList{
  list-style-type: none;
}
.scores{
  font-size: 3rem;
  font-family: cursive;
  font-weight: 700;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}